<% include ./partials/header %>

<div cass="container">
	<h1> Страница регистрации </h1>
	
	<a href="/">Назад</a>
</div>
<div cass="container">
	<form action="/register" method="POST">
	    <div class="form-group">
	    	<input class="form-control" type="text" name="username" placeholder="username">
	    </div>
	     <div class="form-group">
	    	<input class="form-control" type="text" name="usernameLast" placeholder="Last Name">
	    </div>
	    <div class="form-group">
	        <input class="form-control" type="text" name="image" placeholder="image">
	    </div>
	    <div class="form-group">
	        <button class="btn btn-lg btn-primary btn-block">Регистрация</button>
	    </div>
	</form>
</div>
<% include ./partials/footer %>